<div class="login-form">
  <h1>Авторизация</h1>
  <img src="/assets/images/ssau2.png">
<form>
  <dx-form>

    <dxi-item dataField="email" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Email', mode: 'email', width: '50%' }">
      <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
      <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="password" editorType="dxTextBox" horizontalAlignment="center"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Password',  mode: 'password', width: '100%'}">
      <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item itemType="button" horizontalAlignment="center" routerLink="/api">
      <dxo-button-options width=20% type="default" [useSubmitBehavior]="true" [template]="'signInTemplate'" [onClick]="onSubmit">
      </dxo-button-options>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'signInTemplate'">
      <span class="dx-button-text">
        Sign
      </span>
    </ng-container>

  </dx-form>
</form>
</div>
