<!-- The Modal -->
<div id="id01" class="modal">


  <!-- Modal Content -->
  <form class="modal-content animate">
    <div class="imgcontainer">
      <img src="assets/images/ssau.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Логин</b></label>
      <input type="text" placeholder="Введите логин" name="uname" required>

      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="Введите пароль" name="psw" required>

      <button type="submit" routerLink="/api">Войти</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Запомнить меня
      </label>
    </div>
  </form>
</div>
