<div id="data-grid-demo">
  <dx-data-grid
      id="gridContainer"
      [dataSource]="dataSource"

      [showBorders]="true">

      <dxo-search-panel [visible]="true"></dxo-search-panel>
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-editing
          mode="form"
          [allowUpdating]="true"
          [allowAdding]="true"
          [allowDeleting]="true">
      </dxo-editing>

      <dxi-column dataField="Id"[width]="70"></dxi-column>
      <dxi-column dataField="Name"></dxi-column>
      <dxi-column dataField="Price"></dxi-column>
  </dx-data-grid>
</div>
